test/target/classes/choicerouter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="choicerouterFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/choice" allowedMethods="POST" doc:name="HTTP"/>
        <set-session-variable variableName="method" value="#[message.inboundProperties.'http.method']" doc:name="Session Variable"/>
        <logger message="#[sessionVars.method]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[sessionVars.method=='GET']">
                <logger message="the method is get" level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[sessionVars.method=='POST']">
                <logger message="the method is put" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="logger3#[message.payload]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
